<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            This website is created by me (Jitesh Joshi) . It uses data form two APIs mapbox.com and weatherstack.com. When we insert the name of the location mapbox gives us the latitude and longitude of that particular location and we pass these map locations to the weather Stack Api which gives us the weather of that area. 
        </p>
        <img class="portrait" src="/img/me.jpg">
    </div>
    
    {{>footer}}
</body>

</html>